<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скоро день рождения</title>
</head>
<body>
    <h2>Приветствуем Вас</h2>
    <n3>{{ for_mail.first_name }} {{ for_mail.last_name }}</n3>
    <p>Мы на самом деле не проверяли когда у вас день рождения,
        реализуем эту функцию в следующих версиях нашей програмы, если будет такая необходимость.
        А пока, приглашаем Вас посетить нас магазин и выбрать себе подарок. </p>
    <p>Если Вы успеете это сделать до {{ for_mail.deadline }} то получите скидку на
    подарок.</p>
    <img src="{{ site_url }}{% url 'open' for_mail.open %}.jpg">
</body>
</html>