<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скоро день рождения</title>
</head>
<body>
    <h2>Приветствуем Вас</h2>
    <n3>{{ for_mail.first_name }} {{ for_mail.last_name }}</n3>

    <p>Вероятно вы занимаетесь спортом, в нашей БД эта информация почему-то отсутствует,
    не переживацте, добавить новое поле - это не трудно, труднее узнать занимаетесь ли
    вы спортом!</p>
    <p>Если Вы успеете сделать заказ на спорттовары до {{ for_mail.deadline }} то получите скидку на
    подарок.</p>
    <img src="{% url 'open' for_mail.id %}">
</body>
</html>